/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;  
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Start of Custom Styles */
html {
	font-size: 62.5%;
}
body {
    background-color: #fff;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.01em;	    
	-webkit-font-smoothing: antialiased;  
}
.content {
    margin: 0 auto;  	
}
/* Navigation Section */
.top-navigation {
    background-color: #fff;
    position: fixed;
	width: 100%;
	z-index: 9999;
	border-bottom: 1px solid #dddddd;
}
.top-navigation > .content {
    width: 60%;
    height: 7rem;
}
.top-navigation .logo {
	margin-top: 1.2rem;
}
.top-navigation .links {
	float: right;
	font-size: 1.3rem;  	
	margin-top: 2.2rem;
}
.top-navigation .links li {
	display: inline-block;
	margin-left: 2rem;
	transition: color 0.15s ease;	
}
.top-navigation .links .active {
    color: #4c5058;
    font-weight: 600;
}
.top-navigation .links a:hover {
    color: #4c5058;
    cursor: pointer;
}
.top-navigation .links a {
	text-decoration: none;
	color: #838994;
	font-size: 1.3em;
}
/* Intro Section */
.intro {
	background: #fff url(../images/first-background.jpg) no-repeat center bottom;
	height: 59rem;
	background-size: cover;
	text-align: center;
	padding: 24rem 0 50rem;
	color: #fff;
}
.intro .content h1 {
	font-size: 5rem;
	font-weight: 300;
}
.intro .content h3 {
	font-size: 2.5rem;
	font-weight: 300;
	margin: 2rem 0 2.8rem;
}
.big-button {
	background-color: #f15a29;
	border-color: #f15a29;
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 1.3rem 3rem;
	color: white;
	font-size: 1.2rem;
}
.big-button:hover {
	background-color: #D9400E;
	cursor: pointer;
}
/* cases section */
.cases {
	padding: 8rem 0 14rem;
	background-color: #FFF;
}
.cases .content {
  text-align: center;
  color: #1D1E21;
}
.cases .content h2 {
	font-size: 4.3rem;
	font-weight: 300;
	margin-bottom: 3rem;
}
.cases .content h3 {
	font-size: 1.9rem;
}
.cases .devices {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  height: 12rem;
  box-sizing: border-box;
  margin-top: 3.4rem;
}
.cases .devices img {
	margin-bottom: 2.2rem;
}
/* social section */
.social {
	text-align: center;
	height: 12rem;
	background-color: #fff;
}
.social .content {
	text-align: center;
}
.social .icons {
	margin-bottom: 2rem;
}
.social .icons i {
	font-size: 1.2rem;
}
.social .icons li {
	display: inline;
	padding: 0 .5rem;
}
.social .icons:first-child, .social .icons:last-child  {
	padding: 0;
}
.social .fa-twitter{
	color: #55acee;
}
.social .fa-facebook, .social .fa-instagram {
	color: #4c66a4;
}
.social h3 {
	font-size: 1.3rem;
	margin-bottom: 2rem;
}
.social .icon-circle {
	display: inline-block;
	border: 1px solid #ebeced;	
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
	line-height: 3rem;
}
.social hr {
	width: 60%;
	margin-bottom: 1.5rem;
	border: 0;
	border-top: 1px solid #eaebec;
}
.social .copy {
	color: #b1b5bc;
	font-size: 1rem;
}