/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;  
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Start of Custom Styles */
@font-face {
    font-family: OpenSans;
    src: url(../fonts/opensans-regular-webfont.woff);
}
body {
    background-color: LightGray;
    font-family: OpenSans, sans-serif;
/*	font-family: 'Roboto', sans-serif; */
	letter-spacing: 0.01em;	    
	-webkit-font-smoothing: antialiased;    
}
div {
    border: 1px solid Chocolate;
}
.content {
	padding: 0px 15px;
    margin: 0 auto;  	
}
/* Navigation Section */
.top-navigation {
    background-color: #fff;
}
.top-navigation > .content {
    width: 970px;
    height: 70px;
}
.top-navigation .logo {
	margin-top: 12px;
	height: 38px;
}
.top-navigation .links {
	float: right;
	font-size: 16px;  	
	margin-top: 24px;
}
.top-navigation .links li {
	display: inline-block;
	margin-left: 25px;
	transition: color 0.15s ease;	
}
.top-navigation .links .active {
    color: #4c5058;
    font-weight: 600;
}
.top-navigation .links a:hover {
    color: #4c5058;
    cursor: pointer;
}
.top-navigation .links a {
	text-decoration: none;
	color: #838994;
}
/* Intro Section */
.intro {
	background: #fff url(../images/first-background.jpg) no-repeat center bottom;
	height: 41.5rem;
	background-size: cover;
	text-align: center;
	padding: 12em 0;
	color: #fff;
}
.intro .content h1 {
	font-size: 50px;
	margin: 20px 0;
}
.intro .content h3 {
	font-size: 24px;
	margin: 24px 0;
}
.big-button {
	width: 9.688rem;
	background-color: #f15a29;
	border-color: #f15a29;
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 1rem 1.5rem;
	color: white;
	font-size: 1.2rem;
}
.big-button:hover {
	background-color: #D9400E;
	cursor: pointer;
}
/* cases section */
.cases .content {
  margin: 8em 0;
  text-align: center;
}
.cases .content h2 {
	font-size: 42px;
	color: #1d1e21;
}
.cases .devices {
  display: inline-block;
  margin: 20px 20px;
  width: 30%;
  border: 1px solid black;
  box-sizing: border-box;
  height: 4em;
}